:root {
  --bg-primary: #f9e0ae;
  --cor-button: #c24914;
  --cor-button2: #682c0e;
}

body {
  overflow-x: hidden;
}
header {
  background-color: var(--bg-primary);
  color: #000;
  height: fit-content;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 52px 0 46px 0;
}

header nav ul {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 3.5rem;
  list-style: none;
}

header nav ul li a {
  color: #000;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.logo a {
  position: relative;
  color: #000;
  font-family: "Jim Nightshade", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: -300px;
  padding: 400px;
  pointer-events: none;
}

.drop-down {
  display: none;
  flex-direction: column;
  position: absolute;
  text-align: center;
  gap: 0;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: -0.2rem;
  color: #ffff;
  background-color: #c24814b3;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.drop-down li {
  cursor: pointer;
}

.drop:hover .drop-down {
  display: block;
}

.fa-solid {
  transform: rotate(0deg);
  transition: 0.1s ease-in-out all;
}

.drop:hover .fa-solid {
  transform: rotate(180deg);
}

.btn-nav {
  width: 150px;
  height: 39px;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: var(--cor-button);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.start-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.start-container h1 {
  color: #000;
  font-family: "Poppins";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.start-container p {
  color: rgba(0, 0, 0, 0.46);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container-right {
  margin-top: 180x;
  width: 487px;
  height: 487px;
  background: url(../img/start\ img.png) lightgray 50% / cover no-repeat;
  top: 0;
}

.btn-2 {
  width: 200px;
  height: 44px;
  flex-shrink: 0;
  background-color: var(--cor-button2);
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  margin-top: 40px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-2 :hover {
  background-color: #88370ffc;
  color: #000;
}

.welcome-container {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.welcome-container-left {
  width: 480px;
  height: 379px;
  flex-shrink: 0;
  background: url(../img/welcome.png) lightgray 50% / cover no-repeat;
}

.welcome-container-right {
  display: flex;
  flex-direction: column;
  margin-left: 6.6875rem;
}

.welcome-container-right h1 {
  color: #000;
  font-family: "Poppins";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.welcome-container-right li {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 1.8rem;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: fit-content;
  margin-top: 14.625rem;
}

.register-container-left h1 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 5.6875rem;
}

.register-container-right {
  width: 439px;
  height: 292px;
  background: url(../img/register.png), lightgray 50% / cover no-repeat;
}
