:root {
  --bg-primary: #f9e0ae;
  --cor-button: #c24914;
  --cor-button2: #682c0e;
  --cor-button3: #fc8621;
  --cor-title2: #00000075;
}

body {
  overflow-y: none;
}
header {
  background-color: var(--bg-primary);
  width: 100vh;
}
.nav-container {
  background-color: var(--bg-primary);
  color: #000;
  width: 100vw;
  height: 7.75rem;
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  z-index: 1;
}

.nav-bar li {
  display: inline-block;
  align-items: center;
  position: sticky;
}

.nav-bar a {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.logo a {
  color: #000;
  font-family: "Jim Nightshade", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  pointer-events: none;
}

.drop-down {
  display: none;
  position: absolute;
  font-size: 1rem;
  margin: 0;
  color: #ffff;
  background-color: #c24814e3;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.drop-down li {
  cursor: pointer;
  white-space: nowrap;
}

.drop:hover .drop-down {
  display: block;
}

.fa-solid {
  transform: rotate(0deg);
  transition: 0.1s ease-in-out all;
}

.drop:hover .fa-solid {
  transform: rotate(180deg);
}

.btn-nav {
  width: 9.375rem;
  height: 2.4375rem;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: var(--cor-button);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.btn-nav:hover {
  background-color: #d35e05;
  color: #fff;
  transform: scale(1.05);
  transition: 0.2s ease;
}

.start-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}
.title-start {
  color: #000;
  font-family: "Poppins";
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.start-container p {
  color: rgba(0, 0, 0, 0.46);
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.start-container-right img {
  max-width: 100%;
  height: auto;
}

.btn-2 {
  width: 12.5rem;
  height: 2.75rem;
  flex-shrink: 0;
  background-color: var(--cor-button2);
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  margin-top: 40px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-2:hover {
  background-color: var(--cor-button);
  color: #fff;
  transform: scale(1.05);
  transition: 0.2s ease;
}

.welcome-container {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 7rem;
}

.welcome-container-left img {
  max-width: 100%;
  height: auto;
}

.welcome-container-right {
  display: flex;
  flex-direction: column;
}

.welcome-container-right h1 {
  color: #000;
  font-family: "Poppins";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.welcome-container-right li {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 1.8rem;
}

.register-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: fit-content;
  margin-top: 14.625rem;
}

.register-container-left h1 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.register-container-right img {
  max-width: 100%;
  height: auto;
}

.subscribe {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin-top: 9.25rem;
}

.subscribe-container {
  width: 80%;
  height: 8.16rem;
  background-color: var(--bg-primary);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.subscribe-container input {
  width: 18.75rem;
  height: 3.937rem;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btn-subscribe {
  width: 18.75rem;
  height: 3.937rem;
  border: none;
  background-color: var(--cor-button);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.btn-subscribe:hover {
  background-color: #ff5004;
  transform: scale(1.05);
  transition: 0.2s ease;
}

.community-container {
  width: 100vw;
  height: fit-content;
  display: flex;
  align-items: center;
  position: relative;
}

.community-container-left {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-left: 20rem;
  z-index: 1;
}

.community-container-left h1 {
  color: #000;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.community-container-left p {
  color: var(--cor-title2);
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1.35rem;
}
.btn-3 {
  width: 17.0625rem;
  height: 3.375rem;
  flex-shrink: 0;
  color: #fff;
  background-color: var(--cor-button3);
  border: none;
  border-radius: 0.625rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 4.69rem;
}

.btn-3:hover {
  background-color: #ff9335;
  transform: scale(1.05);
  transition: 0.2s ease;
  color: #fff;
}

.community-container-right img {
  position: absolute;
  right: 7rem;
  margin-top: -1rem;
}

/* uteis*/
.img-responsive {
  max-width: 100%;
  height: auto;
}

.community-container-right .ellipse-1 {
  position: absolute;
  top: 39rem;
  left: 38em;
}

.community-container-right .ellipse-2 {
  position: absolute;
  top: 8.88rem;
  left: 56.38rem;
}

.community-container-right .ellipse-3 {
  position: absolute;
  top: 30.94rem;
  left: 20.56rem;
}

.community-container-right .ellipse-4 {
  position: absolute;
  top: 17rem;
  right: 11rem;
}
